@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&family=Michroma&family=Playwrite+IT+Moderna:wght@100..400&family=Righteous&display=swap');

*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
  font-family: "Advent Pro", serif;
  letter-spacing: 1px;
    font-optical-sizing: auto;
    font-style: normal;
      font-weight:400;
  color:white;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition:all .5s ease-in-out;
}
*::-webkit-scrollbar {
  
  width: 0px ;
  height:0px;
}
*::-webkit-scrollbar {
  width: 0px;
  height:0px;
}
*::-webkit-scrollbar-button {
  border-radius: 50px;
  background: rgba(97, 97, 97, 0);
}
*::-webkit-scrollbar-thumb {
  background: rgba(58, 63, 64, 0);
  border-radius: 50px;
}
*::-webkit-scrollbar-track {
  border-radius: 50px;
}
*::-webkit-scrollbar-track-piece {
  border-radius: 50px;
}
html{
  background:rgb(34, 34, 34);
}
 
  body{
    display: flex;
    background-image:

    radial-gradient(rgba(10, 16, 19, 0.65)  10%, rgb(0, 0, 0) 40%),
    linear-gradient(rgba(3, 17, 25, 1)  90%, rgba(220, 220, 220, 0) 5%);
  
 background-repeat: no-repeat,repeat,repeat;
background-size:cover,200em 1em,3050px 400px;
background-position:bottom,100% -100%,center;
box-shadow: inset 0px 0px 0px rgba(0, 128, 0, 0);

}
#begin,#earn{
  opacity: 0;
  position:absolute !important;
  width:0%;
  filter: blur(5rem);
  -webkit-filter: blur(5rem);
  display:flex;
  transition:all 1.2s ease-in-out;
  
}
#begin:target,#earn:target{
  filter: blur(0rem);
  -webkit-filter: blur(0rem);
  position:absolute !important;
  opacity:1 !important;
  z-index:1;

}

.sideimgs{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height:200px;
}
.landingpage{
  display: flex;
  justify-content: space-between;
  background-image:
  repeating-linear-gradient(45deg,rgba(110, 112, 141, 0.1) 5%,rgba(80, 81, 102, 0.08) 10%),
  repeating-linear-gradient(135deg,rgba(110, 112, 141, 0.17) 5%,rgba(80, 81, 102, 0.116) 10%),
  radial-gradient(rgba(10, 16, 19, 0.65)  10%, rgb(0, 0, 0) 40%),
  linear-gradient(rgba(3, 17, 25, 1)  90%, rgba(220, 220, 220, 0) 5%),
  url("/imgs/pattern.webp");
  background-position: fixed,fixed,fixed,fixed,fixed;
  transition: all .6s ease-in-out; 
  background-repeat: repeat,repeat,no-repeat,repeat,repeat;
  background-size:150% 2000px, 150% 2000px,cover,200em 1em,3050px 400px;
  animation: halfmove 50s linear infinite;
  background-position:left,left,bottom,100% -100%,center;
  box-shadow: inset 0px 0px 0px rgba(0, 128, 0, 0);

}
.register,.regbox ,.half,.regform,
.inputform,.impbox,.otpver,.noted,.regbutton{
  font-family: righteous;
display:flex;
justify-content: center;
}

.noted{
  padding:5px;
  margin-top:10px;
  align-items: center;
}
.impbox::placeholder{
  color:rgba(245, 245, 245, 0.6);

}
.impbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background:none;
  outline:none;
  height: calc(100% - 15px);
  width: 75%;
  border: 1px solid transparent;
  border-left:1px solid rgba(255, 255, 255, 0.186);
  padding-left:20px;

}
.inputform{
  position:relative;
  flex-direction: row;
  letter-spacing: 1.2px;
  justify-content: space-around;
  line-height: 1.5;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.711), 0px 0px 0px rgb(255, 255, 255);
  min-height: 50px;
  border-radius: 10px;
  margin-top:5px;
width: 300px;
   background:rgba(175, 177, 207, 0.141);
  cursor: pointer;
  -webkit-backdrop-filter:blur(5rem);
  backdrop-filter:blur(5rem);

}
.closeus{
  position:absolute;
  top:0;
  right:0;
  margin:15px;
  font-size:30px;
}
.picked{
  display:flex;
  justify-content: center;
  align-items: center;
  width:50%;
  margin:auto;

}
.register{
position:fixed;
align-items: center;
top:0;
left:0;
z-index:1000000;
width:100%;
height:100vh;
}
.regpic{
  position:absolute;
  width:100%;
  filter:blur(7rem);
}
.logout{
  background:black;
}
.regbox{
  position:relative;
  align-items: flex-start;
  margin:auto;
  overflow:clip;
  width:60%;
  background:repeating-linear-gradient(45deg,rgb(110, 112, 141) 5%,rgb(80, 81, 102) 40%);

  border-radius:30px;



}
.half{
  justify-content:center;
  flex-direction: column;
  width:45%;
  height:550px;
}

.regform{
  width:100%;
  align-items:center;
  justify-content:flex-start;
  backdrop-filter: blur(6rem);
  -webkit-backdrop-filter: blur(6rem);
  border-radius:20px;
  border:10px solid transparent;
  height:500px;
  padding-top: 25px;
  overflow-y:scroll;
  flex-direction:column;
}
.tinylogo{
  position:absolute;
  right:0;
  width:50px;
  height:50px;
  border:2px solid transparent;
  margin:20px;
  border-radius:50%;
  object-fit:cover;
}
.otpver:hover,.regbutton:hover{
  opacity:.3;
}
.otpver,.regbutton{
  min-width:110px;
  cursor:pointer;
  min-height:40px;
  margin-bottom:10px;
  margin-top:5px;
  color:black;
  background:white;
  font-weight:300;
  align-items:center;
  padding-right:15px;
  padding-left:15px;
  border-radius:15px;
}
.otpverbox{
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  width:100%;
  
}
.resend{
    display:flex;
  justify-content:space-around;
    min-width:130px;
  cursor:pointer;
     -webkit-backdrop-filter: blur(5rem);
     background:black;
     backdrop-filter: blur(5rem);
  font-family:righteous;
  min-height:26px;
  margin-left:3px;
  margin-bottom:10px;
  margin-top:5px;
  text-transform:capitalize;
  color:white;
  align-items:center;
  padding-right:15px;
  padding-left:15px;
  border-radius:15px;
}
.successmessage{
position:fixed;
top:30px;
background:#17191f;
display:inline-flex;
width:350px;
margin:auto;
justify-content: center;
align-items: center;
color:lightgrey;
font-size:15px;
border-radius:10px;
font-weight:600;
box-shadow:0px 0px 60px rgba(0, 0, 0, 0.909);
border:5px solid #232222;
height:40px;
z-index:20000;
}
@keyframes pop{
  0%,100%{
    opacity:0;
    top:0px;

  }
  20%,80%{
    opacity:1;
    top:20px;


  }
}

.not{
  padding:5px;
}




.navbottom{
  display: none;
  
}
.micropic{
  width:200px;
  position: absolute;
  object-fit:cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: inset 5px 200px 1px black;
  filter:drop-shadow(0px -10px 100px rgb(255, 255, 255));
  animation:fade-in  linear;
  animation-timeline:view(900px 0px);   
   }
  @keyframes fade-in {
     0%{
         opacity: 0;
         filter:grayscale(1);
         }
 
     40%{
         opacity: 0;
         transform: scale(1,1)translateY(200px) ;
         filter:grayscale(0);
        }
    
     100%{ 
         opacity: 1;
         transform: translateY(0px);
     }
     
  }
.welcmessage{
  font-size: 10px;
  z-index: 2;
}
.micropic:nth-child(odd){
  margin-bottom: -600px;
  left:90px;


}

  .micropic:nth-child(even){
  margin-top: -300px;
  right: 90px;
    box-shadow: inset 5px 200px 1px black;
  filter:drop-shadow(0px -10px 100px rgb(255, 255, 255));
}
@keyframes halfmove {
  
100%{

  background-position:right,right,center,-100% 100%,center;



}
}


.down{
  color:grey;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 200px;
  width: 50px;
  height: 50px;
}
.huge{
  width:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  letter-spacing: 2px;
}
.page:hover .fil:nth-child(1){
  filter:drop-shadow( 0px 0px 0px rgba(255, 255, 255, 0));
  opacity: 1;
}

@keyframes turns {
  100%,75%{
    -webkit-mask-position: 80px 100px;

  }
}
.twwo,.one{
  position:relative;
display: flex;
  flex-direction: row;
  letter-spacing: 1.2px;
  justify-content: space-around;
  line-height: 1.5;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.711), 0px 0px 0px rgb(255, 255, 255);
  height: 50px;
  border-radius: 10px;
}
.twwo{
width: 300px;
   background:rgba(175, 177, 207, 0.141);
  cursor: pointer;
  -webkit-backdrop-filter:blur(5rem);
  backdrop-filter:blur(5rem);
  z-index: 5;
}
.dp{
height:60px;
width:60px;
  -webkit-backdrop-filter:blur(5rem);
  backdrop-filter:blur(5rem);
background:rgba(255, 255, 255, 0.1);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

}
button{
  color:black;
  background:white;
  border-radius: 10px;
  border:1px solid transparent;
  height:40px;
  width:120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "fascinate inline";
}
.leftcp{
  width:50%;
   height: 500px;
   text-align: right;
   padding: 20px;

  word-wrap: break-word;
}
.contactptext{
  color: rgba(240, 247, 255, 0.176);
font-size: 120px;
-webkit-text-stroke: 3px rgba(117, 119, 124, 0.905);
font-weight: 600;
}
.spinner{
  width:25px;
  margin:3px;
  object-fit: cover;
  object-position: center;
}
.about{
  letter-spacing:2px;
  font-weight: 100;
  padding:10px;
  border-radius:10px;
  border:15px solid rgba(40, 47, 52, 0.823);
  font-family: monospace;
}
.link{
  color:aqua;
}
.rborder{
  margin:3px ;
}
.cpage{
  height: 100vh;
}
.contactp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.rightcp{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 20%;
  height:400px;
  align-items: center;
 }
 
 textarea{
  height:150px;
  width:300px;
 }
 .tarea{
  height:150px;
 }
.started:hover{
  background:black;
  color:rgb(220, 221, 255);

  box-shadow:
  inset 0px 0px 5px white,
  inset   0px 40px 0px rgba(185, 183, 255, 0.25),
  inset   0px -40px 0px rgba(185, 183, 255, 0.25),
  inset   -40px 0px 0px rgba(185, 183, 255, 0.25),
  inset   40px 0px 0px rgba(185, 183, 255, 0.25);
  filter:drop-shadow(
      200px 0px 0px black,
      -200px 0px 0px white,
       0px 200px 0px white,
       0px 200px 0px white,
  );
}
.started{
  display:flex;
  padding:25px;
  margin-top: 600px;
  cursor:pointer;
  border-radius:200px;
  height:150px;
  text-align: center;
  transform:scale(.7);
  justify-content: center;
  align-items: center;
  width:150px;
text-shadow:none;
font-size: 15px;
 color:rgb(163, 177, 180);
 transition:all .4s ease-in-out;
box-shadow:
inset 0px 0px 5px black,
inset   0px 0px 0px rgba(185, 183, 255, 0.178),
inset   0px 0px 0px rgba(185, 183, 255, 0.178),
inset   0px 0px 0px rgba(185, 183, 255, 0.178),
inset  0px 0px 0px rgba(185, 183, 255, 0.178);
clip-path: polygon(100% 0, 38% 0, 20% 0, 3% 9%, 11% 0, 0 0, 0 39%, 39% 10%, 0 47%, 0 60%, 0 70%, 0 100%, 93% 100%, 100% 100%, 100% 89%, 90% 97%, 100% 78%, 100% 46%, 67% 90%, 100% 34%);


}

.twwo:hover{
border-top:1px double  rgba(57, 57, 57, 0);;
border-left:1px double  rgba(57, 57, 57, 0);;
border-right:1px double  rgba(57, 57, 57, 0);
border-bottom:1px solid  rgba(255, 255, 255, 0.9);;
}
.onne{
width:40px;
}
.slash {
display: flex;
flex-direction: row;
justify-content: center;
border: 1px solid #3a3f42;
border-radius: 5px;
align-items: center;
color: grey;
width: 30px;
height: 70%;
}

.find {
  width: 100%;
  background: none;
  font-size: 15px;
  outline: none;
  color: lightgray;
  border: 1px solid transparent;
  height: 100%;
  }
  .brands{
    height:80px;
    width:80px;
    object-fit: cover;
    background: rgb(115, 191, 2);
    border:2px solid rgb(115, 191, 2);
    border-radius:20px;
    margin:10px;
    object-position: center;
  }
  .search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 2px;
  color: rgb(219, 224, 237);
  font-size: 20px;
  }
  .bbtn:hover{
    opacity:.6;
  }
  .bbtn{
    position:relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height:40px;
    width:40px;
    align-items:center;
    background:rgba(175, 177, 207, 0.141);
  }
  .pcontainer{
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items:center;
  height:100vh;
  width:100%;
  background:black;

  }
  .oprice{
  color:grey;
  font-weight:600;
  padding:10px;
  text-decoration: line-through;
  height:30px;
  padding-left:15px;
  }
  .tier{
    padding:10px;
    font-family:"michroma";
    border-radius: 20px;
    padding-right:10px;
    border-bottom:13px solid rgba(0, 0, 0, 0.771);
    font-weight: 600;
    margin-bottom: 10px;
  }
  .cdown{
      min-width: 57%;
      color:gold;
      font-weight:700;
      font-size:15px;
      font-family:michroma;
  }
  .endsin{
      display:inline-flex;
      padding:10;
      justify-content: space-between;
      width:50%;
      flex-wrap: wrap;
      margin-bottom:10;
  }
  .payopts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    overflow-y:scroll;
    padding:20px;
    width:calc(100% - 100px);
    border-radius: 15px;
    transition:all 1s linear;
  
  }
  .nprice{
    color:rgb(255, 0, 230);
    padding:3px;
    font-family:"Playwrite IT Moderna";
    font-size:12px;
    padding-left:10px;

  }
  .payfeatures{
  min-height: 150px;
  background:rgba(128, 128, 128, 0.09);
  padding:10px;
}
.soln{

position:absolute;
   height: 100%;
   width:100%;
   top:0;
   left:0;
   background:black;
}
.toptex::-webkit-scrollbar-thumb{
  background:rgba(255, 255, 255, 0.08);
  width:10px;
}
.toptex::-webkit-scrollbar{
  width:5px;
}
.toptex{

  display: flex;
  height:70%;
  overflow-y:scroll;
  flex-direction:column;
  border-radius:15px;
  padding:30px;
  width:50%;
   border:1px solid transparent;
   background:rgba(203, 213, 222, 0.1);
   backdrop-filter: blur(5rem);
   -webkit-backdrop-filter: blur(5rem);
  margin:auto;
}
.toptex *{
  margin-bottom:10px;
  letter-spacing:1.5px;
}
.toptex h3{
  font-weight:600;
  text-align:center;
  width:max-content;
  padding:10px;
  margin:auto;
  background:rgba(255, 255, 255, 0.1);
  border-radius:10px;
}
.toptex div::first-letter{
font-weight:600;
font-size:20px;
}
.toptex li{
  font-size:13px;
  color:rgb(149, 255, 0);
  text-align:justify;
}
.payfeatures li{
font-size:13px;
line-height:25px;
}
  .pt .payfeatures{
   -webkit-backdrop-filter: blur(5rem);
   backdrop-filter: blur(5rem);
  }
  .pt{
    border-radius: 30px;
    height:370px;
    background:rgba(224, 235, 255, 0.09);
    background:
    repeating-conic-gradient(
      from 75deg,
      rgba(224, 235, 255, 0.09) 45deg 50deg,
      rgba(224, 235, 255, 0.2) 90deg 90deg
    );
    display: flex;
    background-size:500px 500px;
    border-top:1.5px solid gold;
    flex-direction: column;
    overflow:hidden !important;
    justify-content: flex-end;
  }
  
   .pcontainer2{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(4, 12, 20, 0.775);
  }
  .paytitle{
    display: flex;
    height:10vh;
    padding:10px;
    justify-content: center;
    text-align: center;
  }
  .fa-search,.fa-envelope{
    color: rgb(69, 70, 73);
    text-align: right;
  }
  .sendarrow:hover{
    opacity:.7;
    transform:scale(.6);
  }
    .sendarrow{
    transform: scale(.6);
  }
  .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 75%;
  border: 1px solid transparent;
  }
.page:hover .phuge{
  transition:1s ease-in-out;
  transition-delay: .5s;
  /* box-shadow:
  0px 0px 200px black,
   inset 0px 0px 700px rgba(0, 0, 0, 0),
   0px 0px 700px rgba(0, 0, 0, 0); */

}
.pdfloader{
height: 100%;
display: flex;
align-items: flex-end;
flex-direction: column;
justify-content: center;
width:100%;
background:rgb(9,10,12);
padding-bottom: 2px;
}

.rightmenu{

height: 90%;
display: flex;
flex-basis: 20%;
flex-direction: row;
justify-content: space-around;
align-self: center;
align-items: center;
}

.page:hover .ptext{
  filter:drop-shadow( 0px 0px 100px rgba(255, 255, 255, 0));
  transform :rotateX(20deg);
  text-shadow: 0px 30px rgba(255, 255, 255, 0);
  transition-delay: .7s;


}
img{
  user-select: none;
}
  .phuge{
  display: flex;
  position: relative;
  cursor: pointer;
  position: absolute;
   user-select: none;
  justify-content: center;
  height: 350px;
  width:350px;
  top:200px;
  align-self: center;
  transition:all .8s ease-in-out;
   border:100px double rgba(0, 0, 0, 0);
   border-radius: 300px;
  flex-direction: column;
  /* box-shadow:
  0px 0px 200px 10px black,
  inset 0px 0px 0px rgb(0, 0, 0),
  0px 0px 0px rgb(0, 0, 0); */
  align-items: center;
  
}
.wind{
  filter:grayscale(1) contrast(2);
}
.ptext{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 3px black;
  width:600px;
  border-radius:30px;
  letter-spacing: 3px;
  transition: all .7s ease-in-out;
  color:white;
  font-size: 70px;
  font-family:michroma;
  font-weight:700;
  margin-top:230px;
  text-shadow: 0px 0px white;
  margin-left: 5px;
  text-align: center;
  filter:drop-shadow( 0px 0px 0px white);

}
.blacklong{
  background:black;
  display: block;
  position:absolute;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100%;
  height:1000px;
  box-shadow: 
  0px -500px 450px black,
  0px 500px 450px black,
inset 0px 0px 0px rgb(255, 255, 255),
inset 0px 0px 0px white;
transition: box-shadow .5s ease-in-out;

}

.blacklong:hover{
box-shadow:
0px -500px 450px black,
0px 500px 450px black,
inset 1500px 0px 0px rgb(0, 0, 0),
inset 5000px 0px 0px rgba(55, 55, 55, 0.784);
}
  .fil{
  filter:drop-shadow(0px 0px 0px black);
  transition:all 1s ease-in-out;
  transform-style: preserve-3d;
  height: 100%;
  width:100%;
  border-radius: 300px;
  transform-origin: 200px;
  position:absolute;
  }
  .fil:nth-child(1){
      filter:drop-shadow(0px 0px 10px rgb(255, 255, 255));
      opacity: 1;
  }
      .fil:nth-child(2){
      top:100;
      -webkit-mask-image:repeating-linear-gradient(135deg,#0000 40%, #000 35%,#000 45%, #0000 5%, #0000 75%,#0000 100%);
      -webkit-mask-size:100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: -20px 0px;
      animation: turns 1.2s linear forwards;

  
  }
 .reglate{
  height: 70px;
  background-color: #000;
  width:70px;
  object-fit: contain;
  border:5px double rgba(57, 57, 57, 0.647);
  filter:drop-shadow(
    0px 0px 5px rgb(44, 0, 0)
    );

 }

  .mlist a li:hover{
  box-shadow: inset  0px -100px 0px rgba(251, 254, 255, 0.9), 0px 0px 0px rgb(255 255 255);
  transition:all .3s ease-out;
  color:black;
}
  .mlist a {
      width:300px;
  }
      .mlist a li{
  width:100%;
  box-shadow: inset 0px 0px 0px rgb(255, 255, 255), 0px 0px 0px rgb(255 255 255);
  transition:all 1s ease-in-out;
  border:1px solid transparent;
}
  .mlist a li{
color:rgb(230, 230, 230);
padding:3px;
}
.mtitle:hover{
  transition: all 1s ease-in-out;
   text-rendering:optimizeLegibility;

}

.midmessage{
  display:flex;
  justify-content: center;
  align-items: center;
     background:rgba(175, 177, 207, 0.141);
     border-radius:10px;
     backdrop-filter:blur(5rem);
     -webkit-backdrop-filter:blur(5rem);

}
.messagepic2:nth-child(2){
  width:750px;
  z-index: 1;
  
}
.messagepic2:nth-child(1){
  z-index: 2;
  
}
  .messagepic{
  object-fit:cover;
  border-radius: 50%;
  z-index: 1.1;
  object-position: center;
}
.messagepic2{
  object-fit:cover;
  width:300px;
  object-position: center;
  filter:drop-shadow(0px -10px 20px rgb(255, 255, 255));
}
.midleft:nth-child(odd){
  padding-right:100px;
  display:flex;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .midleft:nth-child(even){
  background:transparent;
  margin-left:-110px;
  border-radius:50%;
  width:200px;
  height:200px;
}
.difficon{
  font-size:50px !important;
  margin-top:-100px !important;

}
.seemore,.seeless{
  position:absolute;
  margin:3px;
  top:0;
  right:0;
  display: flex;
  justify-content:space-between;
  width:100px;
 cursor:pointer;
 background:rgba(255, 255, 255, 0.03);
  padding:10px;
}
.seeless{
  left:0;
}

  .midleft{
  position:relative;
  display:flex;
  height:200px;
  letter-spacing:1px;
  color:black;
  font-size:20px;
  font-weight: 600;
  padding:20px;
  margin-left:-100px;
  border-radius:100px;
  background:linear-gradient(90deg,rgb(149, 255, 0),transparent);

}
#root{
  background:black;
}
.itext{
  color:rgb(115, 191, 2);
  font-family:michroma;
  font-weight:600;
  margin-right:10px;
}
.welcome{
font-size: 30px;
color:white;
font-weight:600;
font-family:michroma;
height:50px;
padding-bottom: 20px;
}

.tel{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.telegram{
  display: inline;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align:center;
  font-family:michroma;
  color: white;
  height:200px;
  font-size: 50px;
}

.mask{
  filter:brightness(110%) invert(1);
  -webkit-mask-image:repeating-linear-gradient(135deg,#0000 40%, #000 40%,#000 50%, #0000 5%, #0000 75%,#0000 100%);
  -webkit-mask-size:900 900;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: -170px 0px;
  animation: turns 50s linear infinite;
}

@keyframes turns {
  50%, 100%{
    -webkit-mask-position: 750px 100px;

  }
}
.brown{
  position:absolute;
}

.welcmessage{
  display: flex;
  align-items: center;
  font-size: 15px;
  text-align: center;
  width:80%;
  font-family:michroma;
  color:white;
  text-align: center;

}
.logo::after{
  content:"";
  bottom:0;
  position:absolute;
  
  width:100%;
    right:0;
    border-top:1px solid rgba(0, 0, 0, 0);
    animation:stretchsright 7s forwards;
  
      }
    @keyframes stretchsright {
      100%{
        width:0%;
      }
      60%{
          width:100%;
      }
      0%{
        width:100%;
      }
    }
   
 
.loading{ 
display: flex;
flex-direction: row;
height:150px;
}
.loadtext{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 40px;
  height: 100%;
  width:70%;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}
.loadpdf{
  display: flex;
  flex-direction: column;
  align-self: center;
   height: 100%;
   width:100%;
   border:1px solid transparent;
   background:rgba(203, 213, 222, 0.222);
   backdrop-filter: blur(5rem);
   -webkit-backdrop-filter: blur(5rem);
  justify-content: center;
 }
 .inv-ico{
  background-clip: text;
  -webkit-background-clip:text;
 }
 .ticket{
  font-weight:100;
  font-family:"Advent Pro";
  height:30px;
  color:rgb(204, 255, 0);
  display:flex;
  justify-content: center;
  align-items:center;
  
 }
.promo{
  background:repeating-conic-gradient(
    from var(--angle),
    rgb(25, 34, 12) 0deg 45deg,
    rgb(9, 36, 30)90deg 250deg);
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-size:1400px 1400px;
  font-weight:100;
  font-family:"Advent Pro";
  height:30px;
  text-align:center;
  animation: spins 15s linear infinite;

}
.texttit{
 position: fixed;
 display: flex;
 width: 100%;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 opacity: 1;
 transition: all 1s ease-in-out;
 backdrop-filter: blur(.2rem);
 height: 100vh;
 z-index: 100;
}
.loaded{
  opacity:0;
  z-index: -100;
}
.slideup{
  transform: translateY(50%);
}
  .mtitle{
  position:relative;
  transition: all 1s ease-in-out;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:20px 15px 20px 15px;
  letter-spacing: 2px;
  box-shadow:
 inset 0px -300px 200px rgba(10, 16, 19, 0.9),
 inset 0px -700px 150px rgba(40, 50, 56, 0.8);
  color:rgba(46, 58, 67, 0.419);
  margin:auto;
}
.viewer{
  position:absolute;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  letter-spacing: 2px;
  width:100%;
  background:rgb(9,10,12);
  box-shadow:
 inset 0px -300px 200px rgba(10, 16, 19, 0.9),
 inset 0px -700px 150px rgba(40, 50, 56, 0.8);
  color:rgba(46, 58, 67, 0.419);
}
@keyframes loads {
  50%{
     filter:drop-shadow(0px 7px 0px rgb(255, 255, 255)) grayscale(1);
  }
  
}
@keyframes loadsp {
  50%{
     filter:drop-shadow(0px 2px 0px rgb(255, 255, 255)) grayscale(1);
  }
  
}
.footer{
  display: flex;
   justify-content:space-between;
   align-items: flex-end;
   height:200px;
   margin-top: 200px;
  }
  .foot2{
    padding:20px;
    border:1px solid rgba(57, 57, 57, 0.757);
    width:300px;
  }
 
.foot1{
  flex:1;
  border:1px solid rgba(57, 57, 57, 0.757);
  align-items: center;
  padding:15px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  height:200px;
  justify-content: center;
  text-align: center;
}
.logo{
  display: flex;
  flex-direction: column;
  filter:drop-shadow(0px -7px 0px rgb(255, 255, 255)) grayscale(.5);
  letter-spacing: 2px;
  animation: loads 3s infinite linear;

}
.logopdf{
  display: flex;
  object-fit: contain;
  object-position: center;
  width:30px;
   overflow: hidden;
  flex-direction: column;
  filter:drop-shadow(0px -2px 0px rgb(255, 255, 255)) grayscale(.5);
  letter-spacing: 2px;
  animation: loadsp 3s infinite linear;

}
.return{
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  height:50px;
  width:150px;
  background: rgba(42, 44, 50, 0.768);
  margin-bottom:20px;
}
.notfound{
  display:flex;
  justify-content:space-around;
  height:100%;
  width:80%;
  align-items: center;
  flex-direction:column;
}
.imgclose{
  display: flex;
  justify-content: space-between;
  width:100%;
  align-items: center;
  height: 50px;
  flex-direction: row;
}
.pdfnavcontainer{
  display:flex;
  justify-content:space-between;
  width:100%;

}
.pnleft{
display:flex;
flex-direction:row;
height:50px;
justify-content: center;
align-items:center;
}
.pdfnav{
  display:flex;
  width:100%;

}
.notfound-text{
  color: rgba(42, 44, 50, 0.768);
  font-size:200px;

  font-weight:600;
  }

  .mlist{
  display: flex;
  justify-content:flex-end;
  font-size: 10px;
  width:100%;
  align-items: center;
  margin-top: 10px;
  height:25px;
  padding:4px;
}
li{
  list-style:none;

}
a {
text-decoration: none;
}


.page{

  position:relative;
  display: flex;
  align-items: center;
  transition: 2s ease-in-out;
  flex-direction: column;
  overflow-y:scroll;
}
   
.searchlist{
  position: fixed;
  width:100%;
  display: flex;
  height:100vh;
  top:0;
  flex-direction: column;
   z-index: 20;
  background:rgb(9, 10, 12);
  transition: all .5s ease-in-out;
}
.closesearch{
  height: 50px;
  width: 60px;
  display: flex;
  border-radius: 5px;
  color:grey;
  cursor:pointer;
  justify-content: center;
  align-items: center;
}

.toast{
position:absolute;
width:100%;
pointer-events:none;
z-index:10000;
}

.toastmessage{
  color:white;
  width:50%;
  height:60px;
  margin:auto;
  font-weight:600;
  margin-top:20px;
  border-radius:15px;
  border:5px solid rgba(19, 20, 39, 0.6);
  text-align:center;
  background:rgb(216, 131, 4);
  user-select:none;
  pointer-events:all;
  font-size:20px;
  display:flex;
  justify-content:center;
  align-items: center;
}
.titles{
  width: 80%;
  font-size: 15px;
  padding-right: 20px;
}
.searchnav{
  height:15vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding:5px;
  padding-left: 20px;
  padding-right:20px;
  background:rgb(9, 10, 12);
}
.mcontent{
  position:relative;
  display: flex;
  flex-direction: row;
  padding-left:10px;
  padding-right:10px;
  overflow:hidden;
  border-radius: 20px;
  width: 70%;
  margin:auto;
  height: calc(85vh - 20px);
  background:linear-gradient(340deg,black,rgba(46, 39, 74, 0.141));
  overflow-y:scroll;
}
.listcontent{
  position: absolute;
  top:0;
  right:0;
  display: flex;
  flex-direction: column;
  padding-left:10px;
  padding-right:10px;
  overflow:hidden;
  border-radius: 20px;
  width:100%;
  margin:auto;
  height: calc(85vh - 20px);
  overflow-y:scroll;
  transition:all 1s linear;

}
.menucomp{
position:absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  overflow:hidden;
    padding-left:10px;
  padding-right:10px;
  border-radius: 20px;
  width:100%;
z-index: 1000;
clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
  height: calc(85vh - 20px);
  overflow-y:scroll;
  transition:all 1s linear;


}
.showcomp{
  width:100% !important;
  padding:10px !important;
  overflow:hidden !important;
  overflow-y:scroll !important;
  transition:all 1s linear !important;
}
.hidecomp{
  width:0% !important;
  padding:0px !important;
  overflow:hidden !important;
  transition:all 1s linear !important;
}

.bothsides{
  position:relative;
  display:flex;
  flex-direction:row;
}

.sidemenubar{
  width:30%;
  padding-left:15px;
  padding-bottom:15px;
  display:flex;
  justify-content: center;
  align-items:center;
  height: 85vh;

}
.menuitems,.firstitem{
  height:40px;
  width:95%;
  border-radius: 15px;
  margin:auto;
  cursor: pointer;
  color:rgb(109, 115, 115);
  border:1px solid transparent;
  margin-top:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom:10px;
  transition: all .6s ease-in-out;
}
.menuitems:active{
  opacity:.2;
}
.menuitems{
  width:90%;
  position:relative;
  overflow:clip;
}
.prem,.prem2,.prem3,.prem4,.prema{
  position:absolute;
  text-align: center;
  top:0;
  font-weight:500;
  padding:4px;
  border-radius: 25px;
  margin:7px;
  margin-right:5px;
  overflow:hidden;
  font-size: 10px;
    box-shadow:
     4px 4px 4px rgb(0, 0, 0),
     -2px -2px 4px rgb(78, 77, 77);
  right:0;
}
.prem{
  background:linear-gradient(45deg,rgb(0, 238, 255),rgb(10, 0, 151));

}
.prema{
  background:linear-gradient(45deg,rgb(0, 174, 255),rgb(238, 255, 0));

}
.prem2{
  background:linear-gradient(45deg,rgb(186, 200, 0),rgba(249, 255, 209, 0.79));

}
.prem4{
  background:linear-gradient(45deg,rgb(255, 0, 212),rgb(225, 255, 0));

}
.prem3{
  background:linear-gradient(45deg,rgb(0, 174, 255),rgb(157, 0, 255));

}

.inmenu{
  padding-left: 20px;
       color:white;
       background:rgba(255, 255, 255, 0.018);
       width:100%;
       height:100%;
       border-radius: 10px;
       display: flex;
       align-items: center;
}
.menuitems:hover .inmenu{
       color:rgb(204, 255, 0);

}
.firstitem:hover,.menuitems:hover{
clip-path: polygon(24% 0, 0 0, 0 53%, 0 100%, 50% 100%, 100% 100%, 100% 0%, 100% 0, 100% 0%, 100% 0);
    box-shadow:
     inset 0px -100px 0px rgba(0, 0, 0, 0.645),
     -200px 0px 0px rgba(0, 0, 0, 0),
     50px 0px 0px rgba(0, 0, 0, 0);

}

.firstitem{
  background:linear-gradient(340deg,rgb(234, 0, 255),rgba(0, 153, 255, 0.899)80%,rgba(0, 255, 102, 0.92) 30%);
  box-shadow: 4px 5px 3px rgb(0, 0, 0);
  border-bottom:1px solid rgba(255, 255, 255, 0.846);
  backdrop-filter:blur(5rem);
  -webkit-backdrop-filter:blur(5rem);
clip-path: polygon(24% 0, 0 0, 0 53%, 0 100%, 50% 95%, 99% 100%, 94% 23%, 100% 0, 69% 28%, 73% 0);
transition:all 1s ease-in-out;
}
  .abs{
    height:60px;
    width:50px;
  position:relative;
  display: block;
  top:0;
  margin-right:20px;

}
.micon{
  margin-right:15px;
}
.profile{
  display: flex;
  justify-content: center;
  height:100%;
  flex-direction:column;
}
.onmenu{
  position: absolute;
  bottom:0;
  display:flex;
  border:1px solid transparent;
  border-bottom:1px solid rgb(204, 255, 0);
  color:rgb(204, 255, 0);
  padding:5px;
  justify-content:space-between;
  overflow:hidden;
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(5rem);
  overflow-x:scroll;
  height:40px;
  width: 100%;
  align-items:center;

}

.in{
  position:relative;
    display:flex;
    cursor:pointer;
    border:1px solid transparent;
    border-radius: 10px;
    margin:5px;
}
.in:hover .insp{
  background:black;
}
.in:hover{
   background:rgb(204, 255, 0);
  background-size: 300px 300px;
  background-position:center,center;

    border:1px double transparent;
}
.insp{    
    padding-bottom:5px;
    height:30px;
    transition: background 1s ease-in-out;
    border-radius:10px;
  position:relative;
      min-width:max-content;
    word-wrap:nowrap;
    padding-left:10px;
    padding-right:20px;

      text-transform: capitalize;
      display:flex;
    justify-content:center;
    align-items: flex-end;

  color:rgb(204, 255, 0);
        background:rgba(50, 62, 9, 0.877);
        backdrop-filter: blur(6rem);
        -webkit-backdrop-filter: blur(6rem);


}
.missing{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.missingtext{
  font-size:14px;
  height:50px;
}
.construction{
  font-size:80px;
}
.ref{
background:none;
border:1px solid transparent;
outline:none;
  color:rgb(117, 165, 139);
align-items:center;
padding-top:10px;
border-left: 1px solid rgba(255, 255, 255, 0.26);
padding-left: 20px;
width:140px;
text-align: left;
}


.wish{
  text-align:center;
  color:white;
}
.iconlarge{
  font-size:70px;
}
.tovid{
font-family:"righteous";
  text-align:center;
    color:rgba(175, 177, 207, 0.641);
  width:70%;
}
.watch{
width:200px;
border-radius:30px;
display:flex;
position:relative;
justify-content:center;
color:rgba(175, 177, 207, 0.641);
align-items:center;
font-size: 20px;
font-weight:600;
cursor:pointer;
background:rgba(175, 177, 207, 0.141);
height: 50px;
margin:20px;
border:3px solid transparent;
color:white;}
.watch:hover .sp{
  background:black;
}
.watch:hover{
 background:
  conic-gradient(from var(--angle),transparent,gold 1%,rgb(0, 0, 0), rgb(255, 213, 62),transparent);
  background-size: 300px 300px;
  background-position:center,center;

    border:2px double transparent;
    animation: spins 5s linear infinite;
}

.sp{
  position: relative;
  border: 4px solid transparent;
  backdrop-filter: blur(6rem);
  -webkit-backdrop-filter: blur(6rem);
  transition: all 1s ease-in-out;
  background:rgba(0, 0, 0, 0.2);
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
border-radius:30px;
  text-align: center;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spins {
   
    0%{
        --angle:0deg;
    }
    100%{
        --angle:360deg;


    }

}
.board{
width:98% !important;
clip-path:none !important;

}
.earnbox{
  width:calc(98% - 10px) !important;
  position:relative !important;
clip-path:none !important;
   background:repeating-linear-gradient(45deg,rgba(42, 42, 52, 0.01) 15%,rgba(59, 59, 72, 0.7) 40%) !important;

}
.refbadge{
  position:absolute;
  width:300px;
  right:0;
  z-index: 10;
  top:0;
  margin-right:-20px;
  margin-top: 30px;
}

.refloader{
  background-image:
  linear-gradient(
    90deg, rgba(255,255,255,.05),rgba(255,255,255,.14),rgba(255,255,255,.05)) !important;
  background-size:300px 50% !important;
  background-position:0 0;
  animation:refbgload 2s linear  infinite !important;
  pointer-events:none !important;
}

@keyframes refbgload{
  0%{
    background-position:0 0;
  }
100%{
  background-position:100% 0;

  }
}

.coinstack{
  position:absolute;
  width:300px;
  margin:10px;
  margin-bottom:-100px;
  right:0;
}
.reffirstboxtop{
  border-radius:0px 20px 20px 20px !important;
  margin-top: 10px;
  background:
  linear-gradient(45deg,#ffd900, #DB00FF 100%) no-repeat,
  linear-gradient(90deg,rgba(0, 23, 39, 0.867), #00000095 100%) no-repeat,
  linear-gradient(90deg,rgba(0, 23, 39, 0.9), #dd00ff00 100%) no-repeat,
  linear-gradient(107.68deg, #fd2c9f 2.26%, #ffc011 93.75%) !important;
  display:flex;
  background-size:15% 35%,calc(15% + 3px) calc(35% + 8px),cover,cover !important;
  justify-content: center !important;
  clip-path: polygon(15% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 14%, 0 35%) !important;

  flex-direction: column;
  padding:20px;
  
width:98% !important;
 }
.leaderb{
  border-radius:0px 20px 20px 20px !important;
  margin-top: 10px;
  background:
  linear-gradient(45deg,#ffd900, #DB00FF 100%) no-repeat,
  linear-gradient(90deg,rgba(0, 23, 39, 0.867), #00000095 100%) no-repeat,
  linear-gradient(90deg,rgba(0, 23, 39, 0.9), #dd00ff00 100%) no-repeat,
  linear-gradient(107.68deg, #ff008c 2.26%, #48c2ff 93.75%) !important;
  display:flex;
  background-size:15% 35%,calc(15% + 3px) calc(35% + 8px),cover,cover !important;
  justify-content: center !important;
  clip-path: polygon(15% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 14%, 0 35%) !important;

  flex-direction: column;
  height:350px !important;
  padding:20px;
  
width:98% !important;
 }
.refpage{
    padding-left:10px;
    text-transform: capitalize;
    background:black;
    padding-right:20px;
    display:flex;
    justify-content:center;
    color:rgb(255, 255, 255);
    align-items: flex-end;
    padding-bottom:5px;
    min-width:max-content;
    word-wrap:nowrap;
    margin:5px;
    cursor:pointer;
    border-radius:10px;


}
.userlevel{
  position:relative;
  display:flex;
  justify-content:left;
  width:100%;
  height:80%;
  padding:10px;
  overflow:clip;
  overflow-x:scroll;
}
.sectionearn{
  display:flex;
  justify-content:center;
  width:100%;
}
.rlevel{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  width:100%;
  height:calc(100% - 10px);
  padding:10px;
}
.wrap{
height:100%;
overflow:hidden;
overflow-y:scroll;
}
.yourrefs{
  color:rgba(255, 255, 255, 1);
  padding-bottom:5px;
  border-bottom:1px solid rgba(255, 255, 255, 0.1);
  width:98%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.levelitem{
  min-width:200px;
  height:150px;
   border-radius:10px;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
}
.refblockend{
width:100px;
background:rgb(0, 0, 0);
word-wrap: nowrap;
display:flex;
justify-content:center;
height:100%;
font-size: 10px;
align-items: center;
border-radius: 10px;
color:white;
text-align: left;
font-size: 12px;
padding:10px;
}
.refblockcenter{
  display: flex;
  justify-content:center;
  height:max-content;
  align-items: flex-start;
  padding-left:10px;
  flex-direction: column;
  width:calc(100% - 150px);
  border:1px solid transparent;
  border-left:1px solid rgba(175, 177, 207, 0.241);
}
.refblockcenterdivone{
  font-weight: 600;
  font-size: 12px;
  color:white;
  padding:2px;

}
.refblockcenterdiv{
  display: flex;
  justify-content:flex-start;
  justify-content: center;
  font-weight: 600;
  padding:2px;
  font-size: 10px;
  color:rgba(175, 177, 207, 0.741);
}

.reflist{
  display: flex;
  width:100%;
  align-items: center;
  flex-direction: column;
  min-height:25vh;
  height:max-content;
  border-radius:40px;
  overflow:clip;
  overflow-y:scroll;
}
.refblockleft{
  display: flex;
  justify-content: center;
  align-items: center;
  background:url(../public/imgs/jessy.jpg);
  background-size: cover;
  border-radius: 10px;
  height:50px;
  width:50px;
  margin-right: 10px;

}
.refblock{
  display: flex;
  padding:10px;
  width:calc(95% - 10px);
  overflow: clip;
  border-bottom:1px solid rgba(175, 177, 207, 0.141);
  justify-content: space-between;
  align-items: center;
  margin:auto;
  border-radius: 15px;
  margin-bottom:10px;


}
.copy{
  height:40px;
  width:max-content;
  position:relative;
  cursor:pointer;
  border-radius: 5px;
  display:flex;
  padding:10px;
  padding-right:20px;
  justify-content:center;
  word-wrap:nowrap;
  background:rgba(204, 255, 0, 0.1);
  margin:auto;
  align-items:center;
    color:rgb(204, 255, 0);

}
.refer{
background:black;
display:flex;
width:425px;
padding:10px;
justify-content:flex-start;
align-items: center;
padding-right:0px;
margin-top:50px;
border-radius: 10px;

}
.levelitem2{
  width:400px;
  background:rgba(175, 177, 207, 0.141);
  border-radius: 10px;
  display:flex;
  height:200px;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  clip-path: polygon(0 0, 97% 0, 91% 13%, 94% 14%, 90% 24%, 99% 10%, 96% 8%, 100% 0, 100% 0%, 100% 100%, 0 100%);
  padding:10px;
}
.streak{
  display:flex;
  font-family:"michroma";
  border:1px solid transparent;
  border-bottom:1px solid rgba(175, 177, 207, 0.141);
  margin:auto;

    background:rgba(204, 255, 0, 0.08);
    color:rgb(204, 255, 0);
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;


}
.streaks{
  display:flex;
  height:50px;
  border:1px solid transparent;
  margin:auto;
  color:white;
  font-size:30px;
  padding:10px;
}

.streaka{
  display:flex;
  height:50px;
  border:1px solid transparent;
  margin:auto;
  font-size:14px;
}
.hint{
  display:flex;
  justify-content:center;
  align-items:center;
  width:130px;
  color:rgba(175, 177, 207, 0.641);
  text-align:center;
}
.mtext{
  color:white;
}
.litem{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:10px;
}
.pic{
  width:50px;
  height:50px;
  display: flex;
  justify-content:center;
  align-items:center;
  background:rgba(175, 177, 207, 0.141);
  filter:drop-shadow(2px 2px 2px black);
  border-radius:50%;
}
.pic2{
    background:linear-gradient(45deg,rgb(0, 174, 255),rgb(157, 0, 255));

}
.level{
width:130px;
height:50px;
  display:flex;
  align-items:center;
  padding-left:10px;
}
.aisuccess span{
  filter:hue-rotate(45deg);
  font-size:10px
}
.aisuccess{

border:1px solid lime  !important;
border-left:5px solid lime  !important;
border-right:5px solid lime  !important;
background:rgba(0,255,0,0.1)  !important;
color:lime  !important;
font-family:michroma;
font-size:12px;
position:absolute;
bottom:0;
right:0;
max-width:350px  !important;
padding:10px  !important;
margin:10px;
border-radius:10px  !important;
user-select:none;
pointer-events:none;
animation:fadesin 5s linear forwards;
}
.aierror2{
  user-select:none;
position:absolute;
pointer-events:none;
bottom:0;
right:0;
animation:fadesin 7s linear forwards;

}
.aiload{
background:rgb(0, 0, 0);
padding:10px;
border:10px solid rgba(128,142,154,0.08);
border-radius:10px;
}
.think{
font-family:michroma;
color:rgb(92, 103, 107);
font-weight:600;}
rey{
filter:grayscale(1);
}
.responses{
display:flex;
margin:auto;
background:rgba(255,255,255,.1);
justify-content:center;
align-items:center;
padding:5px;
border: 2px solid dark cyan;
}
.aierror2,.aierror{
display:flex;
border:1px solid red  !important;
border-right:5px solid red  !important;
border-left:5px solid red  !important;
background:rgba(255,0,0,0.1)  !important;
color:red  !important;
word-break:break-word;
height:unset;
font-family:michroma;
font-size:12px;
margin:10px;
padding:10px;
border-radius:10px  !important;

}

@keyframes fadesin{
  
  100%{
    display:none;
  }
}
.select{
  border-radius:10px;
  margin:auto;
  border:3px solid transparent;
    height:30px;
  display: flex;
  justify-content: space-between;
  padding:5px;
   background:rgba(175, 177, 207, 0.141);
  cursor: pointer;
  width:300px;

}
.mcontainer{
 display:flex;
 width:50%;
 align-items:center;
 padding-top:70px;
 flex-direction: column;
}
option{
  background:black;
  border:1px solid transparent;
  border-radius:10px;
}
.mtop{
  display:flex;
  justify-content:center;
  align-items: center;
  width:100%;
}
.mbottom{
  margin:10px;
  margin-top:20px !important;
}
.mchoice{
height:100px;
font-family:"michroma";
font-weight:700;
text-align:center;
}
.mselect{
  position:fixed;
  top:0;
  right:0;
  display:flex;
  justify-content: center;
  width:70%;

  align-items:center;
  overflow:hidden;
  background:black;
  height:100vh;
  z-index:100;
}
.paid{
  height:100%;
  padding-left:20px;
  color:white;
  display: flex;
  justify-content: center;
  font-family:"righteous";
  font-size: 20px;
  align-items: center;
  text-align: center;
}
.mymenubox{
  position:relative;
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  align-items: center;
  border-radius: 10px;
   background:repeating-linear-gradient(45deg,rgba(42, 42, 52, 0.01) 15%,rgba(59, 59, 72, 0.07) 40%);
   box-shadow: inset 0px -600px 100px rgba(175, 177, 207, 0.141);

}
.menuhead{
  position: relative;
  height:100%;
  background:linear-gradient(black,rgba(255, 255, 255, 0.1));

}
.mymenu{
   background-size: 1000px 1000px;
   background-position: right;
  height:calc(100% - 80px);
  width:calc(100% - 10px);
  overflow: clip;
  overflow-y:scroll;
}
.download:hover,.copy:hover{
  opacity: .6}
  .download{
    position:relative;
   background:rgba(255, 255, 255, 0.08);
border-radius: 10px;
height:40px;
width: 100px;
cursor:pointer;
display: flex;
margin:5px;
font-weight: 100;
align-items: center;
font-size: 12px;
justify-content: center;
text-align: center;
}

.describe{
  border-radius: 5px;
  font-weight: 200;
  padding-top:6px;
  color:rgb(204, 255, 0);
  font-size: 11px;
   display: inline;
  width:70%;

}
.desc{
  background:rgba(8, 7, 12, 0.621);
  border-radius: 5px;
  padding:5px;
  font-weight: 200;
  font-size: 20px;
   display: inline;
   text-align: center;
  width:100%;
}
.imgthumb{
  width:30px;
  object-fit: contain;
  object-position: center;
  filter:invert(0.6);
 }
 .pinfo{
  display: flex;
  flex-direction:column;
  border-left:1px solid rgb(255, 255, 255);
  padding-left: 20px;
  justify-content: flex-start;
  width:70%;
 }
.filtered{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-weight: 500;
  padding:20px;
   background:rgba(175, 177, 207, 0.141);
  border-radius: 10px;
  margin-bottom: 5px;
  align-items: center;
}
.mn4{
  height: calc(85vh - 20px);
}
.err4{
  height:70px;
  padding:20px;
  display: flex;
  justify-content: center;
   align-items: center;
}
.landingpage{
  display: flex;
  width: 100%;
  height: 700px;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  padding:20px;
  line-height: 1.5;
  border-radius: 20px;

}
.cube-container {
  perspective: 1000px;
  margin: 100px auto;
  width: 300px;
  height: 300px;
}
.prehuge{
  width:90%;
  display:flex;
  align-items:center;
  position: absolute;
  margin-top:-300px;
  justify-content:space-between;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: juggle 5s ease-in-out infinite;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: translateZ(-50px) rotateY(180deg);
}

.top {
  transform: rotateX(90deg) translateZ(50px) translateY(-50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px) translateY(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px) translateX(-50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px) translateX(50px);
}


@keyframes juggle {
  100%{
   transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);

  }
}


