*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Urbanist', sans-serif;
  color:white;
  box-sizing: border-box;
  transition:all .5s ease-in-out;
}
*::-webkit-scrollbar {
  width: 7px ;
  height: 7px;
}
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
*::-webkit-scrollbar-button {
  border-radius: 50px;
  background: rgba(97, 97, 97, 0.148);
}
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.716);
  border-radius: 50px;
}
*::-webkit-scrollbar-track {
  border-radius: 50px;
}
*::-webkit-scrollbar-track-piece {
  border-radius: 50px;
}
html{
  background:rgb(34, 34, 34);
}
 
  body{
    display: flex;
    background-image:

    radial-gradient(rgba(10, 16, 19, 0.65)  10%, rgb(0, 0, 0) 40%),
    linear-gradient(rgba(3, 17, 25, 1)  90%, rgba(220, 220, 220, 0) 5%);
  
 background-repeat: no-repeat,repeat,repeat;
background-size:cover,200em 1em,3050px 400px;
background-position:bottom,100% -100%,center;
box-shadow: inset 0px 0px 0px rgba(0, 128, 0, 0);

}

.sideimgs{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height:200px;
}
.landingpage{
  display: flex;
  justify-content: space-between;
  background-image:
  radial-gradient(rgba(10, 16, 19, 0.65)  10%, rgb(0, 0, 0) 40%),
  linear-gradient(rgba(3, 17, 25, 1)  90%, rgba(220, 220, 220, 0) 5%),
  URL(imgs/pattern.webp);
  background-position: fixed;
  transition: all .6s ease-in-out; 
  background-repeat: no-repeat,repeat,repeat;
  background-size:cover,200em 1em,3050px 400px;
  animation: halfmove 50s infinite linear;
  background-position:bottom,100% -100%,center;
  box-shadow: inset 0px 0px 0px rgba(0, 128, 0, 0);

}
.navbottom{
  display: none;
  
}
.micropic{
  width:200px;
  position: absolute;
  object-fit:cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: inset 5px 200px 1px black;
  filter:drop-shadow(0px -10px 100px rgb(255, 255, 255));
  animation:fade-in  linear;
  animation-timeline:view(900px 0px);   
   }
  @keyframes fade-in {
     0%{
         opacity: 0;
         filter:grayscale(1);
         }
 
     40%{
         opacity: 0;
         transform: scale(1,1)translateY(200px) ;
         filter:grayscale(0);
        }
    
     100%{ 
         opacity: 1;
         transform: translateY(0px);
     }
     
  }
.welcmessage{
  font-size: 10px;
  z-index: 2;
}
.micropic:nth-child(odd){
  margin-bottom: -600px;
  left:90px;


}

  .micropic:nth-child(even){
  margin-top: -300px;
  right: 90px;
    box-shadow: inset 5px 200px 1px black;
  filter:drop-shadow(0px -10px 100px rgb(255, 255, 255));
}
@keyframes halfmove {
  
100%{

  background-position:center,-100% 100%,center;



}
}


.down{
  color:grey;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 200px;
  width: 50px;
  height: 50px;
}
.huge{
  width:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  letter-spacing: 2px;
}
.page:hover .fil:nth-child(1){
  filter:drop-shadow( 0px 0px 0px rgba(255, 255, 255, 0));
  opacity: .4;
}

@keyframes turns {
  100%,75%{
    -webkit-mask-position: 80px 100px;

  }
}
.twwo,.one{
display: flex;
  flex-direction: row;
  letter-spacing: 1.2px;
  justify-content: space-around;
  line-height: 1.5;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.711), 0px 0px 0px rgb(255, 255, 255);
  height: 50px;
  border-radius: 5px;
}
.twwo{
width: 300px;
background:black;
  cursor: pointer;
  z-index: 5;
  border:5px double rgba(57, 57, 57, 0.647);
}
.dp{
height:60px;
width:60px;
background:black;
border:5px double rgba(57, 57, 57, 0.647);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

}
.leftcp{
  width:50%;
   height: 500px;
   text-align: right;
   padding: 20px;

  word-wrap: break-word;
}
.contactptext{
  color: rgba(240, 247, 255, 0.176);
font-size: 120px;
-webkit-text-stroke: 3px rgba(117, 119, 124, 0.905);
font-weight: 600;
}
.spinner{
  width:30px;
  margin:3px;
  object-fit: cover;
  object-position: center;
}
.about{
  letter-spacing:2px;
  font-weight: 100;
  padding:10px;
  border-radius:10px;
  border:15px solid rgba(40, 47, 52, 0.823);
  font-family: monospace;
}
.link{
  color:aqua;
}
.rborder{
  margin:3px ;
}
.cpage{
  height: 100vh;
}
.contactp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.rightcp{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 20%;
  height:400px;
  align-items: center;
 }
 
 textarea{
  height:150px;
  width:300px;
 }
 .tarea{
  height:150px;
 }
.started:hover{
  background:black;
  color:rgb(220, 221, 255);

  box-shadow:
  inset 0px 0px 5px white,
  inset   0px 40px 0px rgba(185, 183, 255, 0.25),
  inset   0px -40px 0px rgba(185, 183, 255, 0.25),
  inset   -40px 0px 0px rgba(185, 183, 255, 0.25),
  inset   40px 0px 0px rgba(185, 183, 255, 0.25);
  filter:drop-shadow(
      200px 0px 0px black,
      -200px 0px 0px white,
       0px 200px 0px white,
       0px 200px 0px white,
  );
}
.started{
  display:flex;
  padding:25px;
  margin-top: 600px;
  cursor:pointer;
  border-radius:200px;
  height:150px;
  text-align: center;
  transform:scale(.7);
  justify-content: center;
  align-items: center;
  width:150px;
text-shadow:none;
font-size: 15px;
 color:rgb(163, 177, 180);
 transition:all .4s ease-in-out;
box-shadow:
inset 0px 0px 5px black,
inset   0px 0px 0px rgba(185, 183, 255, 0.178),
inset   0px 0px 0px rgba(185, 183, 255, 0.178),
inset   0px 0px 0px rgba(185, 183, 255, 0.178),
inset  0px 0px 0px rgba(185, 183, 255, 0.178);
clip-path: polygon(100% 0, 38% 0, 20% 0, 3% 9%, 11% 0, 0 0, 0 39%, 39% 10%, 0 47%, 0 60%, 0 70%, 0 100%, 93% 100%, 100% 100%, 100% 89%, 90% 97%, 100% 78%, 100% 46%, 67% 90%, 100% 34%);


}

.twwo:hover{
border-top:1px double  rgba(57, 57, 57, 0);;
border-left:1px double  rgba(57, 57, 57, 0);;
border-right:1px double  rgba(57, 57, 57, 0);;
border-bottom:1px solid  rgba(255, 255, 255, 0.647);;
}
.onne{
width:40px;
}
.slash {
display: flex;
flex-direction: row;
justify-content: center;
border: 1px solid #3a3f42;
border-radius: 5px;
align-items: center;
color: grey;
width: 30px;
height: 70%;
}

.find {
  width: 100%;
  background: none;
  font-size: 15px;
  outline: none;
  color: lightgray;
  border: 1px solid transparent;
  height: 100%;
  }
  .brands{
    height:80px;
    width:80px;
    object-fit: cover;
    margin:10px;
    object-position: center;
  }
  .search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 2px;
  color: rgb(69, 70, 73);
  font-size: 20px;
  }
  .fa-search,.fa-envelope{
    color: rgb(69, 70, 73);
    text-align: right;
  }
  .sendarrow:hover{
    opacity:.7;
    transform:scale(.6);
  }
    .sendarrow{
    transform: scale(.6);
  }
  .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 75%;
  border: 1px solid transparent;
  }
.page:hover .phuge{
  transition:1s ease-in-out;
  transition-delay: .5s;
  /* box-shadow:
  0px 0px 200px black,
   inset 0px 0px 700px rgba(0, 0, 0, 0),
   0px 0px 700px rgba(0, 0, 0, 0); */

}
.pdfloader{
height: 100%;
display: flex;
align-items: flex-end;
flex-direction: column;
justify-content: center;
width:100%;
padding-bottom: 2px;
}

.rightmenu{

height: 90%;
display: flex;
flex-basis: 20%;
flex-direction: row;
justify-content: space-around;
align-self: center;
align-items: center;
}

.page:hover .ptext{
  filter:drop-shadow( 0px 0px 100px rgba(255, 255, 255, 0));
  transform :rotateX(20deg);
  text-shadow: 0px 30px rgba(255, 255, 255, 0);
  transition-delay: .7s;


}
img{
  user-select: none;
}
  .phuge{
  display: flex;
  position: relative;
  cursor: pointer;
  position: absolute;
   user-select: none;
  justify-content: center;
  height: 350px;
  width:350px;
  top:200px;
  align-self: center;
  transition:all .8s ease-in-out;
   border:100px double rgba(0, 0, 0, 0);
   border-radius: 300px;
  flex-direction: column;
  /* box-shadow:
  0px 0px 200px 10px black,
  inset 0px 0px 0px rgb(0, 0, 0),
  0px 0px 0px rgb(0, 0, 0); */
  align-items: center;
  
}
.wind{
  filter:grayscale(1) contrast(2);
}
.ptext{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 3px black;
  width:600px;
  letter-spacing: 3px;
  transition: all .7s ease-in-out;
  color:white;
  font-size: 140px;
  margin-top:230px;
  text-shadow: 0px 0px white;
  margin-left: 5px;
  text-align: center;
  filter:drop-shadow( 0px 0px 0px white);

}
.blacklong{
  background:black;
  display: block;
  position:absolute;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100%;
  height:1000px;
  box-shadow: 
  0px -500px 450px black,
  0px 500px 450px black,
inset 0px 0px 0px rgb(255, 255, 255),
inset 0px 0px 0px white;
transition: box-shadow .5s ease-in-out;

}

.blacklong:hover{
box-shadow:
0px -500px 450px black,
0px 500px 450px black,
inset 1500px 0px 0px rgb(0, 0, 0),
inset 5000px 0px 0px rgba(55, 55, 55, 0.784);
}
  .fil{
  filter:drop-shadow(0px 0px 0px black);
  transition:all 1s ease-in-out;
  transform-style: preserve-3d;
  height: 100%;
  width:100%;
  border-radius: 300px;
  transform-origin: 200px;
  position:absolute;
  }
  .fil:nth-child(1){
      filter:drop-shadow(0px 0px 10px rgb(255, 255, 255));
      opacity: 1;
  }
      .fil:nth-child(2){
      top:100;
      -webkit-mask-image:repeating-linear-gradient(135deg,#0000 40%, #000 35%,#000 45%, #0000 5%, #0000 75%,#0000 100%);
      -webkit-mask-size:100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: -20px 0px;
  animation: turns 1.2s linear infinite;

  
  }
 .reglate{
  height: 70px;
  background-color: #000;
  width:70px;
  object-fit: contain;
  border:5px double rgba(57, 57, 57, 0.647);
  filter:drop-shadow(
    0px 0px 5px rgb(44, 0, 0)
    );

 }

  .mlist a li:hover{
  box-shadow: inset  0px -100px 0px rgba(255,255,255,.5), 0px 0px 0px rgb(255 255 255);
  transition:all .3s ease-out;
  color:black;
}
  .mlist a {
      width:300px;
  }
      .mlist a li{
  width:100%;
  box-shadow: inset 0px 0px 0px rgb(255, 255, 255), 0px 0px 0px rgb(255 255 255);
  transition:all 1s ease-in-out;
  border:1px solid transparent;
}
  .mlist a li{
color:rgb(230, 230, 230);
padding:3px;
}
.mtitle:hover{
  transition: all 1s ease-in-out;
   text-rendering:optimizeLegibility;

}

.midmessage{
  display:flex;
  justify-content: center;
  align-items: center;
}
.messagepic2:nth-child(2){
  width:750px;
  z-index: 1;
  
}
.messagepic2:nth-child(1){
  z-index: 2;
  
}
  .messagepic{
  object-fit:cover;
  border-radius: 50%;
  z-index: 1.1;
  object-position: center;
  filter:drop-shadow(0px -10px 20px rgb(254, 231, 255));
}
.messagepic2{
  object-fit:cover;
  width:300px;
  object-position: center;
  filter:drop-shadow(0px -10px 20px rgb(255, 255, 255));
}
.midleft:nth-child(odd){
  padding-right:100px;
  display:flex;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .midleft:nth-child(even){
  background:transparent;
  margin-left:-110px;
  border-radius:50%;
  width:200px;
  height:200px;
}
  .midleft{
  display:flex;
  height:200px;
  letter-spacing:1px;
  color:black;
  font-size:20px;
  font-weight: 600;
  padding:20px;
  border-radius: 5px 100px 100px 5px;
  background:white;

}
.welcome{
font-size: 20px;
color:black;
height:50px;
padding-bottom: 20px;
font-weight: 900;
}

.tel{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.telegram{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  height:200px;
  font-size: 50px;
  font-weight: 600;
}

.welcmessage{
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
  color:black;
  text-align: center;

}
.logo::after{
  content:"";
  bottom:0;
  position:absolute;
  
  width:100%;
    right:0;
    border-top:1px solid rgba(0, 0, 0, 0);
    animation:stretchsright 7s forwards;
  
      }
    @keyframes stretchsright {
      100%{
        width:0%;
      }
      60%{
          width:100%;
      }
      0%{
        width:100%;
      }
    }
   
 
.loading{ 
display: flex;
flex-direction: row;
height:150px;
}
.loadtext{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 40px;
  height: 100%;
  width:70%;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}
.loadpdf{
  display: flex;
  flex-direction: column;
  align-self: center;
   height: 100%;
   width:100%;
  align-items: center;
  justify-content: center;
 }

.texttit{
 position: fixed;
 display: flex;
 width: 100%;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 opacity: 1;
 transition: all 1s ease-in-out;
 backdrop-filter: blur(.2rem);
 height: 100vh;
 z-index: 100;
}
.loaded{
  opacity:0;
  z-index: -100;
}
.slideup{
  transform: translateY(50%);
}
  .mtitle{
  position:relative;
  transition: all 1s ease-in-out;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:20px 15px 20px 15px;
  letter-spacing: 2px;
  box-shadow:
 inset 0px -300px 200px rgba(10, 16, 19, 0.9),
 inset 0px -700px 150px rgba(40, 50, 56, 0.8);
  color:rgba(46, 58, 67, 0.419);
  margin:auto;
}
.viewer{
  position:absolute;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding:20px 15px 20px 15px;
  letter-spacing: 2px;
  width:100%;
  box-shadow:
 inset 0px -300px 200px rgba(10, 16, 19, 0.9),
 inset 0px -700px 150px rgba(40, 50, 56, 0.8);
  color:rgba(46, 58, 67, 0.419);
}
@keyframes loads {
  50%{
     filter:drop-shadow(0px 7px 0px rgb(255, 255, 255)) grayscale(1);
  }
  
}
@keyframes loadsp {
  50%{
     filter:drop-shadow(0px 2px 0px rgb(255, 255, 255)) grayscale(1);
  }
  
}
.footer{
  display: flex;
   justify-content:space-between;
   align-items: flex-end;
   height:200px;
   margin-top: 200px;
  }
  .foot2{
    padding:20px;
    border:1px solid rgba(57, 57, 57, 0.757);
    width:300px;
  }
 
.foot1{
  flex:1;
  border:1px solid rgba(57, 57, 57, 0.757);
  align-items: center;
  padding:15px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  height:200px;
  justify-content: center;
  text-align: center;
}
.logo{
  display: flex;
  flex-direction: column;
  filter:drop-shadow(0px -7px 0px rgb(255, 255, 255)) grayscale(.5);
  letter-spacing: 2px;
  animation: loads 3s infinite linear;

}
.logopdf{
  display: flex;
  object-fit: contain;
  object-position: center;
  width:30px;
   overflow: hidden;
  flex-direction: column;
  filter:drop-shadow(0px -2px 0px rgb(255, 255, 255)) grayscale(.5);
  letter-spacing: 2px;
  animation: loadsp 3s infinite linear;

}
.return{
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  height:50px;
  width:150px;
  background: rgba(42, 44, 50, 0.768);
  margin-bottom:20px;
}
.notfound{
  display:flex;
  justify-content:space-around;
  height:100%;
  width:80%;
  align-items: center;
  flex-direction:column;
}
.imgclose{
  display: flex;
  justify-content: space-between;
  width:100%;
  align-items: center;
  height: 50px;
  flex-direction: row;
}
.notfound-text{
  color: rgba(42, 44, 50, 0.768);
  font-size:200px;

  font-weight:600;
  }

  .mlist{
  display: flex;
  justify-content:flex-end;
  font-size: 10px;
  width:100%;
  align-items: center;
  margin-top: 10px;
  height:25px;
  padding:4px;
  border:5px double rgba(57, 57, 57, 0.647);
}
li{
  list-style:none;

}
a {
text-decoration: none;
}


.page{

  position:relative;
  display: flex;
  align-items: center;
  transition: 2s ease-in-out;
  flex-direction: column;
  overflow-y:scroll;
}
   
.searchlist{
  position: fixed;
  width:100%;
  display: flex;
  height:100vh;
  top:0;
  flex-direction: column;
  justify-content: flex-end;
   z-index: 20;
  background:rgb(9, 10, 12);
  transition: all .5s ease-in-out;
}
.closesearch{
  height: 30px;
  width: 30px;
  border:3px solid rgba(15, 15, 17, 0.08);
  display: flex;
  border-radius: 5px;
  color:grey;
  margin:7px;
  cursor:pointer;
  background:rgba(58, 58, 58, 0.07);
  justify-content: center;
  align-items: center;
}
.titles{
  width: 70%;
  font-size: 25px;
  padding-left:20px;
  padding-right: 20px;
}
.searchnav{
  height:15vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding:5px;
  padding-left: 100px;
  padding-right: 100px;
  background:rgb(9, 10, 12);
}
.listcontent{
  display: flex;
  flex-direction: column;
  padding:10px;
  max-height: 85vh;
  overflow:hidden;
  border-radius: 20px;
  width: 83%;
  margin:auto;
  background:linear-gradient(340deg,black,rgba(46, 39, 74, 0.141));
  overflow-y:scroll;
}

.download:hover{
  opacity: .8;
}
  .download{
   background:rgb(28, 56, 83);
border-radius: 10px;
height:40px;
width: 130px;
cursor:pointer;
display: flex;
margin:5px;
align-items: center;
justify-content: center;
text-align: center;

;
}
.describe{
  background:rgba(8, 7, 12, 0.621);
  border-radius: 5px;
  padding:5px;
  font-weight: 200;
  font-size: 12px;
   display: inline;
  width:20%;

}
.desc{
  background:rgba(8, 7, 12, 0.621);
  border-radius: 5px;
  padding:5px;
  font-weight: 200;
  font-size: 20px;
   display: inline;
   text-align: center;
  width:100%;
}
.imgthumb{
  width:70px;
  object-fit: contain;
  object-position: center;
  filter:invert(1);
  opacity: .1;
 }
.filtered{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-weight: 500;
  padding:20px;
   background:rgba(46, 39, 74, 0.141);
  border-radius: 10px;
  margin-bottom: 5px;
  align-items: center;
}
.mn4{
  min-height: 400px;
}
.err4{
  height:70px;
  padding:20px;
  display: flex;
  justify-content: center;
   align-items: center;
}
.landingpage{
  display: flex;
  width: 100%;
  height: 700px;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  padding:20px;
  line-height: 1.5;
  border-radius: 20px;
}
.cube-container {
  perspective: 1000px;
  margin: 100px auto;
  width: 300px;
  height: 300px;
}
.prehuge{
  width:90%;
  display:flex;
  align-items:center;
  position: absolute;
  margin-top:-300px;
  justify-content:space-between;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: juggle 5s ease-in-out infinite;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: translateZ(-50px) rotateY(180deg);
}

.top {
  transform: rotateX(90deg) translateZ(50px) translateY(-50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px) translateY(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px) translateX(-50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px) translateX(50px);
}


@keyframes juggle {
  100%{
   transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);

  }
}


