@media (max-width:999px){
    body {
        background-image: radial-gradient( rgba(10, 16, 19, 0.8) 10%, rgb(0, 0, 0) 40%), linear-gradient( rgba(3, 17, 25, 1) 90%, rgba(220, 220, 220, 0) 5%), url(imgs/pattern.webp);
        background-position: fixed;
        transition: all .6s ease-in-out;
        background-repeat: no-repeat,repeat,repeat;
        background-size: 150% 250%,200em 1em,100% 60%;
        animation: halfmove 45s infinite linear;
        background-position: bottom,100% -100%,center;
        box-shadow: inset 0px 0px 0px rgba(0, 128, 0, 0);
        flex: 1;
    }
    .searchnav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 5px;
        padding-left: 5px;
    }

.leftcp{
  display: none;
}
.cpage{
  height:100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  width:100%;
  align-items: center;
  margin:0px;
  background:rgb(4, 7, 10);
  overflow-x:hidden;
}

.contactp{
  display: flex;
  flex-direction: column;
}

@keyframes halfmove {
    35%{
      background-image:
    radial-gradient( rgba(10, 16, 19, 0.8)  10%, rgb(0, 0, 0) 40%),
    linear-gradient( rgba(3, 17, 25, 1)  90%, rgba(220, 220, 220, 0) 5%),
    url(imgs/pattern.webp);
  
      
    }
    
    75%{
      background-image:
  
    radial-gradient( rgba(10, 16, 19, 0.8)  10%, rgb(0, 0, 0) 40%),
    linear-gradient( rgba(3, 17, 25, 1)  90%, rgba(220, 220, 220, 0) 5%),
    url(imgs/pattern.webp);
  
  

    }
  100%{
  
    background-position: bottom,-100% 100%,center;
  
  
  
  }
  }
  
  .micropic:nth-child(odd){
    margin-bottom: -400px;
    left:40px;
    width:70px;
    box-shadow: inset 5px 200px 1px black;
    filter:drop-shadow(0px -10px 50px rgb(255, 255, 255));
  
  
  }
  .messagepic2{
    padding-bottom: 20px;
  }
  .welcome{
    font-size: 10px;
  }
    .micropic:nth-child(even){
    width: 70px;
    margin-top: -300px;
    right: 40px;
    box-shadow: inset 5px 200px 1px black;
    filter:drop-shadow(0px -10px 50px rgb(255, 255, 255));
    }
  .telegram{
    width:100%;
    border-left: 0px;
    border-right: 0px;
    padding:30px;
  }
 
    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: max-content;
    }
    .searchnav .twwo{
        width:90% !important;
    }
    .foot1{
        width: 100%;
    }
    .ptext{
        font-size: 50px;
    }
    .titles{
        font-size: 12px;;
    }
    .imgthumb{
        width:30px;
    }
    .download{
        padding: 5px;
        height: 27px;
        border-radius: 5px;
        font-size: 10px;
        width:70px;
    }
    .homepic{
      width:30px;
    }
    .navbottom{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      background:rgb(0, 0, 0);
      height: 100px;
    }
    .nt{
      font-size: 10px--;
    }
    .nbottomlist{
      position: relative;
      display: flex;
      color:rgb(171, 169, 169);
      align-items: center;
      position:fixed;
      bottom:0px;
      width:100%;
      overflow: hidden;
      padding-bottom:25px;
      height: 80px;
      border-radius: 10px;
      z-index: 5;
      background:rgb(20, 24, 24);
      flex-direction: row;
      justify-content: space-around;
    }

      .navb .nt{
        font-size: 10px;
        color:rgb(161, 161, 161);
        text-align: center;
        margin-top:3px;
      }
  
        .navb{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding:10px;
        
      }

        .navb i{
      height:30px;
      width:  30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
      margin:1px;
    }
    .describe{
        font-size: 7px;
    }
    .listcontent{
        width: 100%;
        height: 70vh;
    }
    .reglate{
        display: none;
    }
    .mlist{
        
        display: flex;
        flex-direction: column;
    }
   .onne{
    display: none;
   }
    .mlist a{
        display: none;
    }
    .page{
        overflow: hidden;
    }
    .rightmenu{
        display:flex;
        visibility: visible;
        opacity: 1;;
    }
}